<!DOCTYPE html>
<head>
  <title> Website Name </title>
  <link rel="stylesheet" href="main.css">
  <link rel="icon" href="https://ih0.redbubble.net/image.475602531.2567/flat,1000x1000,075,f.jpg">
  <h1 id="logo" > Website</h1>
  <div class="topnav-container" >
    <button class="topnav">Button</button>
    <button class="topnav">Button</button>
    <button class="topnav">Button</button>
    <button class="topnav">Button</button>
    <button class="topnav">Button Button</button>
    <button id="log" href = "{{log_url}}"><span>Login</span></button>
  </div>

<head>
<body>
  <br/>



<body>
