#log {
  display: inline-block;
  border-radius: 4px;
  border: none;
  background-color: #0e56e6;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 13px;
  width: 150px;
  transition: 0.5s;
  cursor: pointer;
  margin: 25px;
  position: fixed;
  top: 0;
  right: 0;
}

#log span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#log span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#log:hover span {
  padding-right: 25px;
}

#log:hover span:after {
  opacity: 1;
  right: 0;
}
